<form [formGroup]="cadastroForm" (ngSubmit)="cadastrarGrupo()">

    <div class="modal-header">
        <h5 class="modal-title">Adicionar novo grupo</h5>
        <button type="button" class="btn-close" data-dismiss="modal" (click)="teste()" aria-label="Close"> X </button>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputNomeGrupo" placeholder="Nome do grupo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputParticipante" placeholder="participante">
            </div>
        </div>
    </div>
    <br>
    <div class="row"  *ngIf="isCadastroSucesso">
        <div class="col">
            <div class="alert alert-primary" role="alert">
            {{msgCadastro}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>