<form [formGroup]="cadastroForm" (ngSubmit)="teste()">

    <div class="modal-header">
        <h5 class="modal-title">Adicionar novo grupo</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> X </button>
    </div>
    <br>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputNomeDespesa" placeholder="Nome Despesa">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputValor" placeholder="valor">
            </div>
        </div>
       
       
    </div>
    <br>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>