<form [formGroup]="cadastroForm" (ngSubmit)="cadastrarDespesa()">

    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputNomeDespesa" placeholder="despesa">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="inputValor" placeholder="valor">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="date" class="form-control" formControlName="inputData" placeholder="valor">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" formControlName="inputParcela" placeholder="Parcela">
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <select class="form-control" formControlName="inputIdGrupo" id="inputIdGrupo">
                    <option selected value="0">Sem grupo</option>
                    <option *ngFor="let grupo of grupos; let i = index" [value]="grupos[i].idGrupo">
                        {{grupo.nome}}
                    </option>
                    
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>

</form>