<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<br><br><br><br>
<div class="d-flex justify-content-center align-items-center">
    <div class="card p-5">
        <form [formGroup]="loginForm" (ngSubmit)="efetuarLogin()">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" formControlName="inputEmail" id="email" class="form-control"  ngModel required>
            </div>

            <div class="form-group">
            <label for="senha">Senha</label>
                <input type="password" formControlName="inputSenha" id="senha" class="form-control">
            </div>

            <div class="form-group">
                <a href="#">Esqueceu sua senha?</a>
            </div>

            <div>
                <button class="btn btn-dark botao-login" type="submit">Login</button>
            </div>
            

        </form>
       
    </div>
    
</div>