.grafico{
    max-width: 50%;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes spinner-border {
    to { transform: rotate(360deg)  }
  }
  